<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Inquiry Confirmation' }) %>
<body>
  <%- include('partials/header') %>

  <div class="text-center py-5">
    <h3>Rachael has received your inquiry and will be in touch soon!</h3>

    <p>In the meantime, consider following Rachael on social media, linked below</p>
  </div>

  <%- include('partials/footer') %>
</body>