<footer class="footer text-white text-center py-3">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/rachael.williams.102"
        role="button"
        ><i class="bi bi-facebook"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/rachaelwilliams_mobility_coach"
        role="button"
        ><i class="bi bi-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <p>
    &copy; 2022 Rachael Williams Online Strength and Mobility. All rights
    reserved.
  </p>
  <!-- Copyright -->
</footer>