<head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-TNXBSPESSK"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag("js", new Date())

    gtag("config", "G-TNXBSPESSK")
  </script>
  <!-- End Google tag (gtag.js) -->
  <script src="https://tally.so/widgets/embed.js"></script>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="styles.css" />
  <title>Rachael Williams Online Strength and Mobility - <%= title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Rachael Williams Online Strength and Mobility - Offering personal training services in performance and wellness."
  />
  <meta
    name="keywords"
    content="Fitness, Mobility Enhancement, Strength Training, Personal Training, Personal Trainer, Rachael Williams"
  />
  <meta name="author" content="Rachael Williams" />
</head>