<header>
  <nav class="navbar navbar-expand navbar-dark">
    <a href="/"></a>
      <img
        src="images/logo.png"
        alt="Rachael Williams Strength and Mobility"
        class="navbar-logo"
        id="navbar-logo"
      />
    </a>
    <a class="navbar-title d-none d-md-block" href="#" id="navbar-title"
      >Online Strength and Mobility</a
    >
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" id="home-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="about-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" id="contact-link">Contact</a>
        </li>
        <li class="nav-item">
          <div class="btn btn-outline-primary">
            <a class="nav-link" href="#" id="get-started">Get Started</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
