<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a href="/">
      <img
        src="images/logo.png"
        alt="Rachael Williams Strength and Mobility"
        class="navbar-logo"
        id="navbar-logo"
      />
    </a>
    <a class="navbar-title" href="/" id="navbar-title"
      >Online Personal Training</a
    >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" id="home-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="about-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" id="contact-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://blog.rachaelwilliams.fit" id="blog-link">Blog</a>
        </li>
        <li class="nav-item">
          <div class="menu-space"></div>
        </li>
        <li class="nav-item">
          <div class="btn btn-outline-primary btn-get-started">
            <a class="nav-link" href="#" id="get-started">Get Started</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>