:root {
  --theme-green: #bbd6bf;
  --theme-purple: #4f2454;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

.about-image {
  border-radius: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar {
  /** background-color: #4f2454; **/
  background-color: #231834;
  padding: 1rem;
}

.navbar-logo {
  height: 100px;
}

.navbar-title {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-stretch: ultra-condensed;
  font-weight: 500;
  color: #d1d1d1;
  text-decoration: none;
}

.footer {
  background-color: #231834;
  padding: 1rem;
}

.form-control {
  height: 2.5rem;
  font-size: 1.1rem;
  line-height: 2;
}

.form-group {
  margin-bottom: 1.5rem;
}

.btn {
  transition: all 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button-center {
  display: flex;
  justify-content: center;
}

/* get started button */
.btn.btn-outline-primary {
  background-color: var(--theme-green);
  border-color: var(--theme-green);
}

.btn.btn-outline-primary .nav-link {
  color: var(--theme-purple) !important;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-get-started {
  background-color: #859a8a; /* Darker shade of green */
  border-color: #859a8a; /* Darker shade of green */
}

.menu-space {
  margin-right: 10px;
}

.hero {
  background-image: url("images/hero.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-top: 30%; /* The magic line */
  overflow: hidden; /* Ensure that nothing exceeds this area */
  opacity: 0.9;
}

.hero .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service {
  text-align: center; /* Center the text in the service div */
}

.services {
  padding: 2rem 0;
}

.service-image {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto; /* center the image */
  border-top-right-radius: 20px;
}

.service-title {
  padding-top: 25px;
  padding-bottom: 20px;
}

.testimonials {
  padding: 2rem 0;
}

.testimonial {
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-source {
  display: block;
  font-style: italic;
  text-align: right;
  align-self: flex-end;
  width: 100%;
}

.testimonial i {
  margin-right: 0.5rem;
}

.testimonial p {
  margin-bottom: 0;
}

.about {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .nav-item {
    margin-right: 0px;
  }
  .navbar-nav {
    align-items: center;
  }
  .service-paragraph {
    width: 90%; /* reduce the width of the service div for mobile screens */
    margin: 0 auto; /* center the service div on mobile */
    padding-bottom: 10%;
  }
  .service-image {
    width: 90%; /* reduce the width of the image for mobile screens */
    margin: 0 auto; /* center the image on mobile */
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    height: 50px;
  }
  .nav-item,
  .nav-link,
  .btn {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .navbar-logo {
    height: 50px;
  }
  .nav-item,
  .nav-link,
  .btn {
    font-size: 10px;
  }
}
